@import url("https://use.typekit.net/dzg4qun.css");
/*font-family: "marseille", sans-serif;
font-weight: 300;
font-style: normal;*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
/*font-family: 'Nunito', sans-serif;*/

/*Color
#6E6A7A Gris
#F0F0F0 Blanco
#0A0A0A Negro*/

*{
    padding: 0;
    margin: 0;
}

/*estilo html*/
html{
    font-family:'Nunito', sans-serif;
    font-size:62.5%;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}

p{
    font-size: 2rem;
}

/*estilo header*/

header{
    background-color: #6E6A7A;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 10;
}

/* header section{
    height: 80%;
    display: flex;
    align-items: center;
} */

/* header section img{
    width: 50px ;
} */

/* header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 70%;
} */

header nav img{
    width: 20px;
}

/* header nav ul{
    display: flex;
    justify-content: space-around;
   
} */

/* .menu_1{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.menu_2{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
} */

/* .anuncio_envio_gratis{
    color: white;
    text-align: center;
    background-color: black; 
    padding-top: 8px;
    font-size: 1.2rem;
    height: 20px;
    font-weight: 100;
    font-stretch: extra-expanded;    
}  */

.logo{
    width:200px;
}

.logo img{
    width: 100%;
    margin: 0 10px;
}

.nav_ul{
    width: 15%;
}

header ul{
    list-style-type: none;
    font-size: 2rem;
}

/* header a{
    text-decoration: none;
    color: black;
} */

/* .imagen_buscar{
    margin-top: 5px;
    margin-left: 5px;
} */

.boton_buscar{
    width: 15px;
}

header input{
    height: 17px;    
}

.perfil{
    margin-top: 5px;
}

.favoritos{
    margin-top: 5px;
}

.carrito{
    margin-top: 5px;
}

/*estilos index main*/

.flyer_home{
    width: 100%;
    display: flex;
    justify-content: center;
}

.flyer_home img{
    height: 400px;    
}

main h1{
    display: flex;
    justify-content: start;    
}

main .ofertas{
    display: flex;
    justify-content: space-evenly;
}

.ofertas img{
    width: 250px;
}

main .anuncio_envio_gratis {
    color: white;
    text-align: center;
    background-color: black; 
    font-size: 1.2rem;
    height: 20px;
    font-weight: 100;
    font-stretch: extra-expanded; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.flyer_home_2{
    width: 100%;
}

.condiciones img{
    width: 70px;
    margin-left: 10px;
}

.condiciones p{
    font-size: 1.3rem;
    font-weight: 900;
    text-align: center;
    margin-top: 10px;
}

.condiciones{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 30px;
}
.condiciones div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*estilo footer*/
footer h2{
    margin-top: 30px;
    text-align: center;
}

footer img{
    width: 30px;
}

.redes{
    margin-top: 15px;
    margin-left: 47%;
    justify-content: space-between;
    display: flex;
    width: 8%;
    
}

footer a {
    text-decoration: none;
    color: black;
}

footer section{
    font-size: 1.5rem;
    font-weight: 700;
}

footer nav ul{
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    list-style-type: none;
    font-weight: 700;
}

footer section{
    margin-top: 30px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.whatsapp{
    display: flex;
    align-items: center;
    width: 12%;
    justify-content: space-around;
}

.email{
    display: flex;
    align-items: center;
    width: 18%;
    justify-content: space-around;
}

/*estilo page productos*/
nav img{
    width: 30px;
}
.categorias a img{
    width: 50%;
}
.productos a{
    font-size: 3rem;
    text-decoration: none;
    color: black;
}

.categorias a{
    font-size: 3rem;
    text-decoration: none;
    color: black;
}

/* .productos_fotos{
    width: 30px;
    height: auto;
} */

.filtros_orden{
    font-size: 1.5rem;
    width: 20px;
}

/* .nombre_producto{
    font-size: 2rem;
    font-weight: 900;
} */

/* .precio_producto{
    font-size: 1.5rem;
    font-style: italic;
} */

/* main button{
    color: black;
    background-color:white;
    border-radius: 4px;
} */

.zapato1 img{
    margin-top: 30%;
}

.zapato1 div {
    margin-top: 20%;
}

.bota2 div{
 margin-top: 5%;
}

.zapato2 div{
    padding-top: 0;
}

/*Estilos page ofertas*/

.flyer_ofertas{
    width: 100%;
}

.grid_ofertas img{
    width: 100%;
}
.grid_ofertas{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(6, 150px);
    grid-template-areas:
    "flyer1 img1 img2 img3"
    "flyer1 img1 img2 img3"
    "flyer1 img1 img2 img3"
    "flyer2 img4 img5 img6"
    "flyer2 img4 img5 img6"
    "flyer2 img4 img5 img6";
}

.grid_ofertas_flyer1{
    grid-area: flyer1;
}

.grid_ofertas_flyer2{
    grid-area: flyer2;
}

.grid_ofertas_1{
    grid-area: img1;
}

.grid_ofertas_2{
    grid-area:img2;
}

.grid_ofertas_3{
    grid-area:img3;
}

.grid_ofertas_4{
    grid-area:img4;
}

.grid_ofertas_5{
    grid-area:img5;
}

.grid_ofertas_6{
    grid-area:img6;
}

/* .grid_ofertas_img1{
    grid-area: img1;
} */

/* .grid_ofertas_img2{
    grid-area: img2;
}

.grid_ofertas_img3{
    grid-area: img3;
} */

/* .grid_ofertas_img4{
    grid-area: img4;
}

.grid_ofertas_img5{
    grid-area: img5;
}

.grid_ofertas_img6{
    grid-area: img6;
} */

/* .grid_ofertas_precio1{
    grid-area: precio1;
} */

/* .grid_ofertas_precio2{
    grid-area: precio2;
}

.grid_ofertas_precio3{
    grid-area: precio3;
} */

/* .grid_ofertas_precio4{
    grid-area: precio4;
}

.grid_ofertas_precio5{
    grid-area: precio5;
}

.grid_ofertas_precio6{
    grid-area: precio6;
} */

/* Media querys */

@media only screen and (max-width: 780px) {
    .grid_ofertas {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media only screen and (max-width: 1024px) {
    .grid_ofertas {
        grid-template-rows: repeat(6, 100px);
    }
    .mas_ofertas{
        margin-top: 25px;
    }
}

@media only screen and (min-width: 1025) {
    .mas_ofertas{
        margin-top: 0;
    }
}

/*Estilo page preguntas frecuentes*/

.preguntas_nav a{
    font-size: 3rem;
    text-decoration: none;
    color: black;
}

/* .preguntas_texto{
    flex-direction: row;
} */

.preguntas_respuestas{
    padding-bottom: 30px;
}

.preguntas{
    font-size: 2rem;
    font-weight: 800;
    padding-bottom: 5px;
    padding-top: 12px;
    padding-left: 10px;
}

.respuestas{
    font-size: 1.7rem;
    font-style: italic;
    padding-left: 10px;
}

@media only screen and (max-width:1024px){
.preguntas_nav{
    flex-direction: column;
}
.contacto_nav {
    flex-direction: column;
}
.ofertas_nav {
    flex-direction: column;
}
.productos_nav {
    flex-direction: column;
}
}

/*Estilo page contacto*/

.imagen_publicidad{
    display: flex;
    justify-content: center;
    background:white;
}

.imagen_publicidad img{
    width:35%;
    border-radius: 4px;
}

.contacto_nav a{
    font-size: 3rem;
    text-decoration: none;
    color: black;
}

.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto div{
    display:flex;
    flex-direction: row;
    gap: 5px;
    margin: 5px 0;
}
.contacto form{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 25px;
    font-size: 1.5rem;
}

.contacto form input{
    height: 30px;
}

.contacto img{
    width: 30px;
}

.contacto a{
    font-size: 2rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.form_contacto .submit_contacto {
    align-self: center;
    width: 25%;
    color: black;
    background-color:white;
    border-radius: 4px;
    margin-bottom: 30px;
}

/*Estilos páginas en construcción*/
.en_construccion{
    height: 500px;
    text-align: center;
    margin: 25%;
    font-size: x-large;
}

.en_construccion img{
    width: 50%;
}

.linea_separadora{
    background-color: black;
    height: 1px;
}