@import url("https://use.typekit.net/dzg4qun.css");
/*font-family: "marseille", sans-serif;
font-weight: 300;
font-style: normal;*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
/*font-family: 'Nunito', sans-serif;*/

/*Color
#6E6A7A Gris
#FFFFFF Blanco
#000000 Negro*/

*{
    padding: 0;
    margin: 0;
}

/*estilo html*/
html{
    font-family:'Nunito', sans-serif;
    font-size:62.5%;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}

p{
    font-size: 2rem;
}

/*estilo header*/

header{
    background-color: #6E6A7A;
    height: 135px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
}

header section{
    height: 80%;
    display: flex;
    align-items: center;
}

header section img{
    width: 50px ;
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 70%;
}

header nav img{
    width: 20px;
}

header nav ul{
    display: flex;
    justify-content: space-around;
   
}

.menu_1{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.menu_2{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

/* .anuncio_envio_gratis{
    color: white;
    text-align: center;
    background-color: black; 
    padding-top: 8px;
    font-size: 1.2rem;
    height: 20px;
    font-weight: 100;
    font-stretch: extra-expanded;    
}  */

.logo{
    width:200px;
}

.logo img{
    width: 100%;
    margin: 0 10px;

}

.nav_ul{
    width: 15%;
}

header ul{
    list-style-type: none;
    font-size: 2rem;
}

header a{
    text-decoration: none;
    color: black;
}

.imagen_buscar{
    margin-top: 5px;
    margin-left: 5px;
}

.boton_buscar{
    width: 12px;
    border-radius: 4px;
    border-style: none;
}

header input{
    height: 17px;
    border-radius: 4px;
    border-style: none;
    
}

.perfil{
    margin-top: 5px;
}

.favoritos{
    margin-top: 5px;
}

.carrito{
    margin-top: 5px;
}

/*estilos index main*/

.flyer_home{
    width: 100%;
    display: flex;
    justify-content: center;
}

.flyer_home img{
    height: 400px;    
}

main h1{
    display: flex;
    justify-content: start;    
}

main section{
    display: flex;
    justify-content: space-evenly;
}

section img{
    width: 250px;
}

main .anuncio_envio_gratis {
    margin-top: 10px;
    margin-bottom: 10px;
}

.flyer_home_2{
    width: 100%;
}

.flyer_ofertas{
    width: 100%;
}

.condiciones img{
    width: 70px;
    margin-left: 10px;
}

.condiciones p{
    font-size: 1.3rem;
    font-weight: 900;
    text-align: center;
    margin-top: 10px;
}

.condiciones{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 30px;
}
.condiciones div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*estilo footer*/
footer h2{
    margin-top: 30px;
    text-align: center;
}

footer img{
    width: 30px;
}

.redes{
    margin-top: 15px;
    margin-left: 47%;
    justify-content: space-between;
    display: flex;
    width: 8%;
    
}

footer ul{
    font-size: 1.5rem;
    list-style-type: none;
    font-weight: 700;
}

footer a {
    text-decoration: none;
    color: black;
}

footer section{
    font-size: 1.5rem;
    font-weight: 700;
}

footer nav ul{
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;

}

footer section{
    margin-top: 30px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.whatsapp{
    display: flex;
    align-items: center;
    width: 11%;
    justify-content: space-around;
}

.email{
    display: flex;
    align-items: center;
    width: 18%;
    justify-content: space-around;
}

/*estilo page productos*/
nav img{
    width: 30px;
}
.categorias a img{
    width: 50%;
}
.productos a{
    font-size: 3rem;
    text-decoration: none;
    color: black;
}

.categorias a{
    font-size: 3rem;
    text-decoration: none;
    color: black;
}

.productos_fotos{
    width: 30px;
    height: auto;
}

.filtros_orden{
    font-size: 1.5rem;
    width: 20px;
}

.nombre_producto{
    font-size: 2rem;
    font-weight: 900;
}

.precio_producto{
    font-size: 1.5rem;
    font-style: italic;
}

main button{
    color: black;
    background-color:white;
    border-radius: 4px;
}

/*Estilos page ofertas*/

.grid_ofertas{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(6, 150px);
    grid-template-areas:
    "flyer1 img1 img2 img3"
    "flyer1 img1 img2 img3"
    "flyer1 precio1 precio2 precio3"
    "flyer2 img4 img5 img6"
    "flyer2 img4 img5 img6"
    "flyer2 precio4 precio5 precio6";
}

.grid_ofertas_flyer1{
    grid-area: flyer1;
}

.grid_ofertas_flyer2{
    grid-area: flyer2;
}

.grid_ofertas_img1{
    grid-area: img1;
}

.grid_ofertas_img2{
    grid-area: img2;
}

.grid_ofertas_img3{
    grid-area: img3;
}

.grid_ofertas_img4{
    grid-area: img4;
}

.grid_ofertas_img5{
    grid-area: img5;
}

.grid_ofertas_img6{
    grid-area: img6;
}

.grid_ofertas_precio1{
    grid-area: precio1;
}

.grid_ofertas_precio2{
    grid-area: precio2;
}

.grid_ofertas_precio3{
    grid-area: precio3;
}

.grid_ofertas_precio4{
    grid-area: precio4;
}

.grid_ofertas_precio5{
    grid-area: precio5;
}

.grid_ofertas_precio6{
    grid-area: precio6;
}


/*Estilo page preguntas frecuentes*/

.preguntas{
    font-size: 2rem;
    font-weight: 800;
}

.respuestas{
    font-size: 1.7rem;
    font-style: italic;
}

/*Estilo page contacto*/

.imagen_publicidad{
    width:40%;
}

.contacto img{
    width: 30px;
}

.contacto a{
    font-size: 2rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.form_contacto .submit_contacto {
    color: black;
    background-color:white;
    border-radius: 4px;
}

/*Estilos páginas en construcción*/
.en_construccion{
    height: 500px;
    text-align: center;
    margin: 25%;
    font-size: x-large;
}

.en_construccion img{
    width: 50%;
}

.linea_separadora{
    background-color: black;
    height: 1px;
}