// Sass de media query

/*
Media query css
*/


//media query de la pagina index

@media only screen and (max-width:780px){

    main .flyer_home img {
        height: 180px;
      }
    .ofertas{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .destacados{
        display: flex;
        justify-content: center;
    }
}

//media query de footer

@media only screen and (max-width:1024px){
    footer section div{
        display: flex;
        flex-direction: column;
    }
}


@media only screen and (max-width:1060px){
    footer nav ul{
        flex-wrap: wrap;
        gap: 20px;
    }
    .redes{
        gap: 15px;
    }
    footer section .whatsapp{
        width: 100%;
        justify-content: center;
        gap: 10px;
    }
    footer section .email{
        gap: 10px;
    }
}


//media query de header

@media only screen and (max-width:1010px){
    .buscador{
        visibility: hidden;
        position: absolute;
    }

}

@media only screen and (max-width:1024px){

    main .flyer_home img {
        height: 240px;
      }
    .ofertas{
        flex-wrap: wrap;
        gap: 10px;
    }
}

//media query de la pagina ofertas


//media query para todas las paginas

@media only screen and (max-width:1024px){
    .preguntas_nav{
        flex-direction: column;
    }
    .contacto_nav {
        flex-direction: column;
    }
    .ofertas_nav {
        flex-direction: column;
    }
    .productos_nav {
        flex-direction: column;
    }
}

//media query 404

@media only screen and (max-width:1040px){
    .error_404 a{
        padding-bottom: 15%;
        font-size: medium;
    }
}

@media only screen and (max-width:1000px){
    .error_404 a{
        padding-bottom: 20%;
        font-size: medium;
    }
}

@media only screen and (max-width:780px){
    .error_404 a{
        font-size: small;
        padding-bottom: 25%;
    }
}